.flex-container {
    display: flex;    
    justify-content: flex-end;
    height: 35px;
    margin-top: 10px;
}

form {
    margin-bottom: 10px;
}

input {
    display: block;
    padding: 0px;
    padding-left: 15px;
    width: 100%;
    font-size: 20px;    
    border-right: 0px;
}

button {
    display: block;
    background-color: mediumseagreen;
    width: 150px;
    font-size: 16px;
    color: white;
    border: 0px;
    cursor: pointer;
}

.button-disabled {
    background-color: gray;
    color: lightgray;
}